.infoSection {
  margin: 30px 0;
  padding: 0 1em;
  width: 100%;
}

.Infocard {
  margin: 10px;
  border: 2px solid #226597;
  border-radius: 16px;
}
.info_svg {
  margin: 3px;
} 

.card_subheading {
  font-size: 1.1em;
  font-weight: 600;
  margin: 5px 0;
}


