.icon {
  width: 25px !important;
  height: 25px !important;
  fill: #226597;
  fill-opacity: 0.7;
  transition: 0.3s ease;
}
.icon path {
  stroke: black;
  stroke-width: 5px;
}
.icon_button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.icon_button:hover .icon {
  transform: translateY(-10px) scale(1.5);
  fill-opacity: 1;
}
.MapBox_popup {
  text-align: center;
  min-width: 300px;
  height: auto;
}

.popup {
  background: #226497;
  margin: -10px -10px -15px;
  padding: 10px 50px;
  border-radius: 4px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}

.popup h2 {
  text-transform: capitalize;
  font-size: 1.5 em;
  font-weight: 600;
}

.MapBox_popup button {
  margin: 5px 15px 0 0;
  font-size: 2em;
  transition: 0.2s ease;
}

.MapBox_popup button:hover {
  transform: scale(1.4);
  background-color: transparent;
}
