.custom_navbar {
  background-color: #226597;
}
.nav_right {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3em;
}

.nav_link {
  color: #f3f9fb !important;
}

.header_svg {
  margin: 5px;
}

.navbar_brand {
  font-weight: 500;
  text-transform: uppercase;
  color: #f3f9fb !important;
}
