.custom_navbar{
  background-color: #226597;
  color: #F3F9FB;
}
.nav_right {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3em;
}

.header_svg {
  margin: 5px;
}

.navbar_brand {
  font-weight:500;
  text-transform: uppercase;
}