.gitHub_svg{
  height: 1.5em;
  width: 1.5em;
  fill: #11324B;
  fill-opacity: .6;
  transition: .3s ease;
}

.gitHub_svg:hover {
  fill-opacity: 1;
  transform: scale(1.1);
}

.custom_navbar{
  background-color: #226597;
  color: #F3F9FB;
}

.nav_right {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3em;
}

